@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #1e293b; /* slate-800 */
}

.dark {
  --background: #0b0416;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-preahvihear), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
